header nav ul, header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

main section .containerAddedProducts .card .imgBox, main section .container .card .imgBox, header nav ul li a .counter div {
  display: flex;
  justify-content: center;
  align-items: center;
}

main section .containerAddedProducts, main section .container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: auto;
}

#main3 .sectionCatagories .addIt, main section .containerAddedProducts .card, main section .container .card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  width: 100%;
  height: 60px;
  padding: 0 20px;
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: white;
}
header nav ul {
  list-style: none;
  gap: 15px;
}
header nav ul li {
  font-size: 20px;
  cursor: pointer;
}
header nav ul li a {
  text-decoration: none;
  color: black;
}
header nav ul li a img {
  width: 20px;
}
header nav ul li a .counter {
  width: 50px;
  position: relative;
}
header nav ul li a .counter .fa-cart-plus {
  font-size: 20px;
}
header nav ul li a .counter div {
  width: 20px;
  height: 20px;
  position: absolute;
  top: -10px;
  right: 5px;
  font-size: 50%;
  font-weight: bold;
  background-color: black;
  color: yellow;
  border-radius: 50%;
}

main {
  width: 100%;
  height: 100vh;
}
main section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: space-between;
  padding-bottom: 30px;
}
main section .container {
  width: 90%;
  gap: 20px;
  margin-bottom: 10px;
}
main section .container .card {
  width: 220px;
  height: 300px;
  border: 1px solid black;
}
main section .container .card .imgBox {
  width: 100%;
  height: 300px;
}
main section .container .card .holder {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 5px;
  width: 60%;
  height: 60%;
  padding-left: 10px;
  padding-bottom: 5px;
}
main section .container .card .holder #name {
  font-size: 10px;
}
main section .container .card .holder #add-to-card {
  border-radius: 12px;
  background-color: rgba(240, 94, 138, 0.7647058824);
  color: white;
  border: none;
  width: 80px;
  height: 30px;
  cursor: pointer;
}
main section .container .card .holder #add-to-card:hover {
  background-color: rgba(210, 84, 122, 0.6588235294);
  transition: 0.4s;
}

main {
  width: 100%;
  height: 100vh;
  padding-bottom: 20px;
  overflow-y: scroll;
}
main section {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}
main section #add-to-card {
  border-radius: 10px;
  background-color: rgba(240, 94, 138, 0.7019607843);
  grid-template-columns: 1/5;
  color: white;
  border: none;
  width: 120px;
  height: 30px;
  cursor: pointer;
  margin: 5px;
}
main section #add-to-card:hover {
  background-color: #d2547a;
  transition: 0.4s;
}
main section .containerAddedProducts {
  width: 90%;
  height: 50%;
  gap: 20px;
  overflow-x: scroll;
}
main section .containerAddedProducts .card {
  width: 220px;
  height: 300px;
  border: 1px solid black;
}
main section .containerAddedProducts .card .imgBox {
  width: 100%;
  height: 300px;
}
main section .containerAddedProducts .card .holder {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 5px;
  width: 60%;
  height: 60%;
  padding-left: 10px;
  padding-bottom: 5px;
}
main section .containerAddedProducts .card .holder #name {
  font-size: 10px;
}
main section .containerAddedProducts .card .holder #add-to-card {
  border-radius: 12px;
  background-color: #f05e8a;
  color: white;
  border: none;
  width: 50px;
  height: 25px;
  cursor: pointer;
}
main section .containerAddedProducts .card .holder #add-to-card:hover {
  background-color: #d2547a;
  transition: 0.4s;
}

#main3 {
  width: 100%;
}
#main3 .sectionCatagories {
  width: 100%;
}
#main3 .sectionCatagories .addIt {
  width: 150px;
  gap: 5px;
}
#main3 .sectionCatagories .addIt #inp {
  padding-left: 5px;
}
#main3 .sectionCatagories .addIt #inp2 {
  padding-left: 5px;
}
#main3 .sectionCatagories .addIt #btn {
  width: 50px;
  height: 20px;
  border-radius: 5px;
  color: white;
  font-size: 13px;
  background-color: green;
  border: none;
  transition: 0.4s;
}
#main3 .sectionCatagories .addIt #btn:hover {
  background-color: rgba(0, 128, 0, 0.584);
  transition: 0.4s;
}
#main3 .sectionCatagories3 #output {
  width: 100%;
}
#main3 .sectionCatagories3 #output .catagory-card {
  width: 100%;
}